<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block title %}
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="#">House Lannister</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'app1:register' %}">Come as Guess Stay as Family</a>
            </li>
            <li>
                <a href="/admin">Master Place</a>
            </li>

        </ul>
    </nav>

    <div class="jumbotron">
        {% block body%}
        {% endblock %}
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>